#episode-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#episode-list .episode-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 13px;
}
#episode-list .episode-list-top a {
  font-size: 9px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}
#episode-list .episode-list-top a span {
  padding-top: 7px;
}
#episode-list .season {
  display: inline-block;
  text-align: center;
  border: 1px solid #e9a000;
  border-radius: 8px;
  color: #e9a000;
  padding: 8px 14px;
  font-size: 9px;
  margin-top: 32px;
}
