*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
@font-face {
  font-family: iransans;
  src: url(./font/FontsFree-Net-ir_sans.ttf);
}
ul,
li {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: iransans;
}
.yellow-color {
  color: #fdc13c;
}
#main {
  position: relative;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #151515;
}
#header {
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 42px;
  padding: 0 15px;
  background: #000;
  z-index: 100;
}
#header img {
  width: 80px;
  padding: 8px;
}
#header p {
  padding: 0px 20px;
  border-left: 1px solid #393939;
}
#main #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
#container #title-desc-container {
  width: 100%;
  height: 426px;
  background-repeat: no-repeat;
  background-position: -150px;
  background-size: cover;
}
#main #container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 426px;
}

#container #titleDescription {
  position: relative;
  padding-top: 52px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  align-items: center;
  width: 100%;
  height: 85%;
}
#container #titleDescription img {
  margin-bottom: 10px;
  width: 20%;
  height: auto;
  border-radius: 10px;
  border: 3px #f5b83f solid;
}
#container #titleDescription #desc-list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
#container #titleDescription a {
  color: white;
}
#container #watch-element {
  width: 100%;
  height: 15%;
}
#container #watch-element .watch-element-child {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
